body
{
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
    text-align: center;
    vertical-align: top;
    overflow: hidden !important;
}




div
{
    /*border:1px solid red;*/
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

iframe
{
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.div-process-container
{
    margin: 0px !important;
    border-radius: 0;
    height: 2px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 40;
    width: 100%;
}
.div-process-bar
{
    background-color:#FFCC00;
    width:0%;
}

.div-process-loading
{
    animation: process-loading 2s infinite ease;
    -o-animation: process-loading 2s infinite ease;
    -moz-animation: process-loading 2s infinite ease;
    -webkit-animation: process-loading 2s infinite ease;
}

@keyframes process-loading
{
    from
    {
        width: 0%;
    }

    to
    {
        width: 100%;
    }
}

@-moz-keyframes process-loading
{
    from
    {
        width: 0%;
    }

    to
    {
        width: 100%;
    }
}

@-webkit-keyframes process-loading
{
    from
    {
        width: 0%;
    }

    to
    {
        width: 100%;
    }
}

@-o-keyframes process-loading
{
    from
    {
        width: 0%;
    }

    to
    {
        width: 100%;
    }
}



.left-show
{
    animation: left-show 0.5s ease;
    -o-animation: left-show 0.5s ease;
    -webkit-animation: left-show 0.5s ease;
    -moz-animation: left-show 0.5s ease;
}

@keyframes left-show
{
    from
    {
        left: -100%;
    }

    to
    {
        left: 0;
    }
}

@-o-keyframes left-show
{
    from
    {
        left: -100%;
    }

    to
    {
        left: 0;
    }
}

@-moz-keyframes left-show
{
    from
    {
        left: -100%;
    }

    to
    {
        left: 0;
    }
}

@-webkit-keyframes left-show
{
    from
    {
        left: -100%;
    }

    to
    {
        left: 0;
    }
}


.right-show
{
    animation: right-show 1s ease;
    -o-animation: right-show 1s ease;
    -moz-animation: right-show 1s ease;
    -webkit-animation: right-show 1s ease;
}

@keyframes right-show
{
    from
    {
        left: 100%;
    }

    to
    {
        left: 0;
    }
}

@-o-keyframes right-show
{
    from
    {
        left: 100%;
    }

    to
    {
        left: 0;
    }
}

@-moz-keyframes right-show
{
    from
    {
        left: 100%;
    }

    to
    {
        left: 0;
    }
}

@-webkit-keyframes right-show
{
    from
    {
        left: 100%;
    }

    to
    {
        left: 0;
    }
}


.bottom-show
{
    animation: bottom-show 0.5s ease;
    -o-animation: bottom-show 0.5s ease;
    -moz-animation: bottom-show 0.5s ease;
    -webkit-animation: bottom-show 0.5s ease;
}

@keyframes bottom-show
{
    from
    {
        top: 100%;
    }

    to
    {
        top: 0;
    }
}

@-o-keyframes bottom-show
{
    from
    {
        top: 100%;
    }

    to
    {
        top: 0;
    }
}

@-moz-keyframes bottom-show
{
    from
    {
        top: 100%;
    }

    to
    {
        top: 0;
    }
}

@-webkit-keyframes bottom-show
{
    from
    {
        top: 100%;
    }

    to
    {
        top: 0;
    }
}


.top-show
{
    animation: top-show 0.5s ease;
    -o-animation: top-show 0.5s ease;
    -moz-animation: top-show 0.5s ease;
    -webkit-animation: top-show 0.5s ease;
}

@keyframes top-show
{
    from
    {
        top: 0%;
    }

    to
    {
        top: 100%;
    }
}

@-o-keyframes top-show
{
     from
    {
        top: 0%;
    }

    to
    {
        top: 100%;
    }
}

@-moz-keyframes top-show
{
     from
    {
        top: 0%;
    }

    to
    {
        top: 100%;
    }
}

@-webkit-keyframes top-show
{
     from
    {
        top: 0%;
    }

    to
    {
        top: 100%;
    }
}


.normal-show
{
    animation: normal-show 0.1s ease;
    -o-animation: normal-show 0.1s ease;
    -moz-animation: normal-show 0.1s ease;
    -webkit-animation: normal-show 0.1s ease;
}

@keyframes normal-show
{
    from
    {
        left: 0;
    }

    to
    {
        left: 0;
    }
}

@-o-keyframes normal-show
{
    from
    {
        left: 0;
    }

    to
    {
        left: 0;
    }
}

@-moz-keyframes normal-show
{
    from
    {
       left: 0;
    }

    to
    {
        left: 0;
    }
}

@-webkit-keyframes normal-show
{
    from
    {
        left: 0;
    }

    to
    {
        left: 0;
    }
}

.left-hide
{
    animation: left-hide 0.5s ease;
    -o-animation: left-hide 0.5s ease;
    -moz-animation: left-hide 0.5s ease;
    -webkit-animation: left-hide 0.5s ease;
}

@keyframes left-hide
{
    from
    {
        left: 0;
    }

    to
    {
        left: -100%;
    }
}

@-o-keyframes left-hide
{
    from
    {
        left: 0;
    }

    to
    {
        left: -100%;
    }
}

@-moz-keyframes left-hide
{
    from
    {
        left: 0;
    }

    to
    {
        left: -100%;
    }
}

@-webkit-keyframes left-hide
{
    from
    {
        left: 0;
    }

    to
    {
        left: -100%;
    }
}


.right-hide
{
    animation: right-hide 0.5s ease;
    -o-animation: right-hide 0.5s ease;
    -moz-animation: right-hide 0.5s ease;
    -webkit-animation: right-hide 0.5s ease;
}

@keyframes right-hide
{
    from
    {
        left: 0;
    }

    to
    {
        left: 100%;
    }
}

@-o-keyframes right-hide
{
    from
    {
        left: 0;
    }

    to
    {
        left: 100%;
    }
}

@-webkit-keyframes right-hide
{
    from
    {
        left: 0;
    }

    to
    {
        left: 100%;
    }
}

@-moz-keyframes right-hide
{
    from
    {
        left: 0;
    }

    to
    {
        left: 100%;
    }
}
