<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appsettings>
    <!--工厂需要的配置-->
    <add key="AssemblyPath" value="sara.platform.service.workflow" />
    <!-- ================================CODE================================ -->
    <add key="dy_jd.czrygz" value="0047" />
    <add key="dy_jd.czryid" value="0005" />
    <add key="dy_jd.sfbqh" value="0046" />
    <add key="dy_jd.sfsfzjd" value="0045" />
    <add key="dy_jd.sfszlcjd" value="0043" />
    <add key="dy_jd.sfhyzlc" value="0044" />
    <add key="dy_jd.jdthms" value="0042" />
    <add key="dy_jd.jdnyh" value="0041" />
    <add key="dy_jd.jdlx" value="0040" />
    <add key="dy_ljx.ljxlx" value="0048" />
    <add key="sl_jd.jdlx" value="0050" />
    <add key="sl_jd.jdnyh" value="0051" />
    <add key="sl_jd.jdthms" value="0052" />
    <add key="sl_jd.sfszlcjd" value="0053" />
    <add key="sl_jd.sfhyzlc" value="0054" />
    <add key="sl_jd.sfsfzjd" value="0055" />
    <add key="sl_jd.sfbqh" value="0056" />
    <add key="sl_jd.czrygz" value="0057" />
    <add key="sl_jd.jdzt" value="0058" />
    <add key="sl_lc.sfzlc" value="0059" />
    <add key="sl_lc.lcslzt" value="0060" />
    <add key="sl_lc.jsbz" value="0061" />
    <add key="sl_ljx.ljxlx" value="0062" />
    <add key="sl_ljx.ljxzt" value="0063" />
    <add key="t_workitem.lx" value="0064" />
    <add key="t_workitem.xszt" value="0065" />
    <add key="t_workitem.dbzt" value="0066" />
    <!-- ================================CODE================================ -->
  
    <!-- ================================基础设置================================ -->
   
    <config_databaseconfig>
      <add key="DAL" value="OracleDAL" />
      <add key="DataBaseConnectionStringEncrypt" value="true" />
      <add key="DataBaseConnectionString" value="user id=saradd_ldsw_0930;data source=gis1661;password=JYDPADlNSNKjRNu2c7Wj4qeclxkKuwK0" />
    </config_databaseconfig>
    <!-- ================================风格化配置================================ -->

    <config_53>
    
      <!-- ==========ｌｏｇ================ -->
      <config_54_log>
        <add key="54_LogConnectionStringEncrypt" value="true" />
        <add key="54_LogConnectionString" value="user id=saradd_ldsw_0930;data source=gis1661;password=JYDPADlNSNKjRNu2c7Wj4qeclxkKuwK0" />
        <add key="54_LogDataBaseType" value="OracleDAL" />
        <add key="54_LogAppName" value="sara.platform.service.workflow" />
        <add key="54_LogModel" value="false" />
        <add key="54_LogFrameModel" value="true" />
        <add key="54_LogCacheSize" value="128" />
      </config_54_log>
      <config_54_serviceadapter>
        <add key="54_ServiceMode" value="webservice" />
        <add key="54_AuthServiceIP" value="127.0.0.1" />
        <add key="54_CodeServiceIP" value="127.0.0.1" />
        <add key="54_FileServiceIP" value="127.0.0.1" />
        <add key="54_MessageServiceIP" value="127.0.0.1" />
        <add key="54_ReportServiceIP" value="127.0.0.1" />
        <add key="54_StateServiceIP" value="127.0.0.1" />
        <add key="54_WorkFlowServiceIP" value="127.0.0.1" />
        <add key="54_AuthServiceName" value="Easy2008.ServiceAuthentication" />
        <add key="54_CodeServiceName" value="Easy2008.ServiceCode" />
        <add key="54_FileServiceName" value="Easy2008.ServiceFile" />
        <add key="54_MessageServiceName" value="Easy2008.ServiceMessage" />
        <add key="54_ReportServiceName" value="Easy2008.ServiceReport" />
        <add key="54_StateServiceName" value="Easy2008.ServiceState" />
        <add key="54_WorkFlowServiceName" value="sara.platform.service.workflow" />
      </config_54_serviceadapter>
      <!-- ==========ｄａｔａｂａｓｅｃｏｎｆｉｇ================ -->
      <config_54_databaseconfig>
        <add key="54_DAL" value="OracleDAL" />
        <add key="54_DataBaseConnectionStringEncrypt" value="true" />
        <add key="54_DataBaseConnectionString" value="user id=saradd_ldsw_0930;data source=gis1661;password=JYDPADlNSNKjRNu2c7Wj4qeclxkKuwK0" />
      </config_54_databaseconfig>
    </config_53>
  </appsettings>
</configuration>