<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appsettings>
    <add key="AssemblyPath" value="Easy2008.ServiceAuthentication" />

    <!--===================================是否根据appcode显示其他相关数据===============================-->
    <add key="IsShowByApp" value="true" />

    <!--平台后门通用密码-->
    <add key="UpassWord" value="222" />
    <!-- ================================基础设置================================ -->
    <config_databaseconfig>
      <add key="DAL" value="OracleDAL" />
      <add key="DataBaseConnectionStringEncrypt" value="true" />
      <add key="DataBaseConnectionString" value="user id=saradd_ldsw_0930;data source=gis1661;password=JYDPADlNSNKjRNu2c7Wj4qeclxkKuwK0" />
    </config_databaseconfig>
      <config_53>
      <!--==============系统名称===================-->
      <config_54_name>
        <add key="54_APPNAME" value="例子" />
        <add key="54_APPNAMEEN" value="sara.dd.ldsw" />
      </config_54_name>
      <!-- ==========ｌｏｇ================ -->
      <config_54_log>
        <add key="54_LogConnectionStringEncrypt" value="true" />
        <add key="54_LogConnectionString" value="user id=saradd_ldsw_0930;data source=gis1661;password=JYDPADlNSNKjRNu2c7Wj4qeclxkKuwK0" />
        <add key="54_LogDataBaseType" value="OracleDAL" />
        <add key="54_LogAppName" value="Easy2008.ServiceAuthentication" />
        <add key="54_LogModel" value="false" />
        <add key="54_LogFrameModel" value="true" />
        <add key="54_LogCacheSize" value="128" />
        <add key="54_LogSqlType" value="sql:insert,delete,update,keys;function:userlogin,updateuserpassWord,querysql,startworkflow,driveactivityins,saveremark,widthdrawworkitem,creatreport" />
      </config_54_log>
      <config_54_serviceadapter>
        <add key="54_ServiceMode" value="webservice" />
        <add key="54_AuthServiceIP" value="127.0.0.1" />
        <add key="54_CodeServiceIP" value="127.0.0.1" />
        <add key="54_FileServiceIP" value="127.0.0.1" />
        <add key="54_MessageServiceIP" value="127.0.0.1" />
        <add key="54_ReportServiceIP" value="127.0.0.1" />
        <add key="54_StateServiceIP" value="127.0.0.1" />
        <add key="54_WorkFlowServiceIP" value="127.0.0.1" />
        <add key="54_AuthServiceName" value="Easy2008.ServiceAuthentication" />
        <add key="54_CodeServiceName" value="Easy2008.ServiceCode" />
        <add key="54_FileServiceName" value="Easy2008.ServiceFile" />
        <add key="54_MessageServiceName" value="Easy2008.ServiceMessage" />
        <add key="54_ReportServiceName" value="Easy2008.ServiceReport" />
        <add key="54_StateServiceName" value="Easy2008.ServiceState" />
        <add key="54_WorkFlowServiceName" value="Easy2008.ServiceWorkflow" />
      </config_54_serviceadapter>
      <!-- ==========ｄａｔａｂａｓｅｃｏｎｆｉｇ================ -->
      <config_54_databaseconfig>
        <add key="54_DAL" value="OracleDAL" />
        <add key="54_DataBaseConnectionStringEncrypt" value="true" />
        <add key="54_DataBaseConnectionString" value="user id=saradd_ldsw_0930;data source=gis1661;password=JYDPADlNSNKjRNu2c7Wj4qeclxkKuwK0" />
      </config_54_databaseconfig>
     
    </config_53>
  </appsettings>
  <easysettings></easysettings>
</configuration>