<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appsettings>
    <!--抄表表历史库的分割时间-->
    <add key="cBiaoHisDatetime" value ="2018-01-01 00:00:00"/>
    <add key="jfHisDatetime" value ="2018-01-01 00:00:00"/>
    <add key="ickssHisDatetime" value ="2018-01-01 00:00:00"/>
    <!--design用于初始化AppCode-->
    <add key="AppCode" value="54"/>

    <!--平台后门通用密码-->
    <add key="UpassWord" value="222" />
    <!--外入页面的特权码-->
    <add key="uuid" value="26872E0A-446F-4F4D-9BF0-6F8ACC335390"/>
    <!--webservice采集-->
    <add key="WebServiceCollect" value="true" />
    <!--webserviceTokenAdd模式下，新建function时挂接的默认token的ID-->
    <add key="DefaultTokenId" value="102"/>
    <!--webservice防并发悲观锁-->
    <add key="WebServiceLock" value="true" />
    <!--webservice调用是否验证token:true,false-->
    <add key="WebServiceToken" value="false" />
    <!--webservice是否加密-->
    <add key="WebServiceEncrypt" value="false" />



    <!--本机IP,代码生成器路径用到,EasyQuickDevelop中用到，design用于初始化本机ip-->
    <!--在GetUserRuleInf中用到，用于替换url中的【serviceip】关键字-->
    <add key="LocalHostIP" value="127.0.0.1"/>

    <!--sara.resource.library、ee框架会用到，dd没有用-->
    <add key="ResourceLibraryLocalhostIp" value="127.0.0.1/sara.dd.ldsw"/>
    <add key="ResourceLibraryIsCache" value="false"/>
    <!--dal层新建、更新数据时采用的sql语句模式：parameter/sql-->
    <add key="SqlEditMode" value="parameter"/>
    <!--commonclass用于创建iaccessdata，design用于初始化数据库类型-->
    <add key="dalTypeStr" value="Oracle"/>

    <!--通用代码样例-->
    <add key="servicecode" value="0108"/>

    <!--物理路径，用于GetDataXml-->
    <add key="XmlPath" value=""/>
    <!--数据库链接字符串-->    
    <add key="DataBaseConnectionString" value="user id=saradd_ldsw_0930;data source=gis1661;password=JYDPADlNSNKjRNu2c7Wj4qeclxkKuwK0;isencrypt=true"/>
     <!--批量数据库链接字符串-->   
    <add key="AccessOracleLargConnectionString" value="user id=saradd_ldsw_0930;data source=gis1661;password=xibanyavsagenting"/>
    <!--用于绘制businessflow的配置-->
    <add key="WorkFlowDataBaseConnectionString" value="user id=saradd_ldsw_0930;data source=gis1661;password=xibanyavsagenting"/>
    <add key="AuthDataBaseConnectionString" value="user id=saradd_ldsw_0930;data source=gis1661;password=xibanyavsagenting"/>


    <!--AppResource-->
    <add key="AppResourceRootPath" value="//127.0.0.1/sara.dd.ldsw.file/files_appresource/" />
    <add key="ExportJHTSRootPath" value="//127.0.0.1/sara.dd.ldsw.file/files_exportjhts/" />
     <add key="ExportYCHKRootPath" value="//127.0.0.1/sara.dd.ldsw.file/files/fileuploadpath/" />   
    <!--ios推送消息时需要的证书类型distribution/development-->
    <add key="IosPushNotificationCertificate" value="development"/>

    <!--通知手机端是否显示出验证码-->
    <add key="isShowCheckNumber" value="true"/>
    <!--=====================design=========================-->
    
    <add key="DesignProjDirPath" value="//127.0.0.1/sara.dd.ldsw/" />
    <add key="DesignTempletDirPath" value="//127.0.0.1/sara.dd.ldsw.file/files_design_templet/" />
    <add key="DesignCacheDirPath" value="//127.0.0.1/sara.dd.ldsw.file/files_design_cache/" />
    <add key="DesignBatFilePath" value="//127.0.0.1/sara.dd.ldsw/lib/compileSLN.bat" />
    <add key="DesignProjFilePath" value="//127.0.0.1/sara.dd.ldsw/sara.dd.ldsw.csproj" />
    <add key="DesignRuleGroupId" value="1019" />
    <add key="DesignBaseRuleId" value="2256" />


    <!--=====================附件=========================-->
    

    <!--文件服务webservice-->
    <add key="ServiceFile" value="http://127.0.0.1/sara.dd.ldsw.file/service/fileupload/service_fileuploaddo.asmx"/>
    <!--上传文件根路径-->
    <add key="FileUpLoadRootPath" value="//127.0.0.1/sara.dd.ldsw.file/files/"/>
    
    <!--用户头像路径-->
    <add key="UserPhotoUrlRootPath" value="//127.0.0.1/sara.dd.ldsw.file/files_auth/" />
    
    <!--=====================交行对账测试=========================-->
    <!--交行对账api url-->
    <!--<add key="apiurl" value="http://pbanktest.95559.com.cn/mapiTRL/interface"/>-->
        <!--交行商户号-->
    <!--<add key="merptcid" value="301140853999579"/>-->
    <!--商户证书号号-->
    <!--<add key="certid" value="301140880629503"/>-->
	<!--=====================交行对账=========================-->
    <!--交行对账api url-->
    <add key="apiurl" value="https://mapi.95559.com.cn/mapi/interface"/>
        <!--交行商户号-->
    <add key="merptcid" value="301120049009501"/>
    <!--商户证书号号-->
    <add key="certid" value="301120049009501"/>
        <!--后台callback地址-->
    <add key="notifyurl" value="https://162.16.166.1//sara.dd.ldsw/service/service_jiaohang_response.ashx"/>
        <!--订单超时时限(分钟)-->
    <add key="expire" value="10"/>
    
    <!--=====================报表=========================-->
    <!--报表文件下载路径-->
    <add key="ReportFileDownLoadLoadRootPath" value="http://127.0.0.1/sara.dd.ldsw.file/files_reports/reportfile/"/>
    
    <!--报表文件保留天数-->
    <add key="ReportFileKeepDate" value="20"/>


    <config_54_log>
      <add key="54_LogCacheSize" value ="128"/>
      <add key="54_LogName" value ="sara.dd.ldsw"/>
      <add key="54_LogStorString" value ="user id=easyservicelog;data source=gis1661;password=JYDPADlNSNKjRNu2c7Wj4qeclxkKuwK0;isencrypt=true"/>
      <add key="54_LogType" value ="oracletype"/>
      <add key="54_LogClassFilter" value ="message_result,message_error,sql_insert,sql_update,sql_delete"/>
    </config_54_log>

    <!--调用webservice获取平台服务，或者调用dll获取平台服务-->
    <add key="PlatformServiceModel" value="dll" />
    <config_54_serviceadapter>
      <add key="54_ServiceMode" value="webservice" />
      <add key="54_AuthServiceIP" value="127.0.0.1" />
      <add key="54_CodeServiceIP" value="127.0.0.1" />
      <add key="54_FileServiceIP" value="162.16.166.1" />
      <add key="54_MessageServiceIP" value="127.0.0.1" />
      <add key="54_ReportServiceIP" value="162.16.166.1" />
      <add key="54_StateServiceIP" value="127.0.0.1" />
      <add key="54_WorkFlowServiceIP" value="127.0.0.1" />
      <add key="54_AuthServiceIsHttps" value="false" />
      <add key="54_CodeServiceIsHttps" value="false" />
      <add key="54_FileServiceIsHttps"  value="false" />
      <add key="54_MessageServiceIsHttps"  value="false" />
      <add key="54_ReportServiceIsHttps"  value="false" />
      <add key="54_StateServiceIsHttps" value="false" />
      <add key="54_WorkFlowServiceIsHttps"  value="false" />
      <add key="54_AuthServiceName" value="Easy2008.ServiceAuthentication" />
      <add key="54_CodeServiceName" value="Easy2008.ServiceCode" />
      <add key="54_FileServiceName" value="Easy2008.ServiceFile" />
      <add key="54_MessageServiceName" value="Easy2008.ServiceMessage" />
      <add key="54_ReportServiceName" value="Easy2008.ServiceReport" />
      <add key="54_StateServiceName" value="Easy2008.ServiceState" />
      <add key="54_WorkFlowServiceName" value="Easy2008.ServiceWorkFlow" />
    </config_54_serviceadapter>
    
    <config_codeservice>

      <add key="tbl_maintable_xzqy" value="0313"/>

    </config_codeservice>


    <config_authservice>
      <!--撤销项目的角色，目前程序尚未配置-->
      <add key="role_sys_delflag" value=""/>

      <!--超级归档角色ID，目前程序尚未配置-->
      <add key="role_toover" value=""/>
      
      <!--能看到除自己行政区域外其他行政区域的角色-->
      <add key="xzqy_role_all" value=""/><!--全部机构角色-->
      <add key="xzqy_role_part" value=""/><!--部分机构角色-->

      
     
    </config_authservice>
    <config_workflowservice>
      <add key="wf_sys_appcode" value="540"/>
      <!--设置工作流是否异步-->
      <add key="wf_Async" value="false"/>
      <!--在流程中采用projclassdtl显示detailtablename的流程定义IDS(在流程的不同节点，显示项目栅格内容不同)-->
      <add key="wf_showindetail_processdefids" value="540004"/>
    </config_workflowservice>


    <!--在t_role中f_value10配置为xzqy即可，用于控制用户能开到哪个机构的数据-->
    <add key="XzfqRoleIds" value=""/>
    
    <!--在t_role中f_value10配置为layer即可，用于控制图层角色-->
    <add key="LayerRoleIds" value=""/>



  </appsettings>

  <easysetting>
    
    
  </easysetting>

</configuration>