.gridcell-ordercolumn
{
    width:50px !important;
}

.gridcell-editcolumn
{
    width:150px;
}
.gridcell-divtable {
   display: table;
   width: 100%;
}
.gridcell-divcell {
   display: table-cell;
   text-align: left;
   vertical-align: middle;
    
}

.gridcell-node
{   
    width:10px;
    border:solid 0px #000000;
    text-align:left;    
}




