.gridcell-noleftborder
{
    border-left:none !important;
}
.gridcell-fieldnamecn
{
    font-weight:bold;
    /*margin-left:20px;*/
}

.gridcell-divtable {
   display: table;
   width: 100%;
}
.gridcell-divcell {
   display: table-cell;
   text-align: left;
   vertical-align: middle;
}

.gridcell-node
{   
    width:30px;
    border:solid 0px #000000;
    text-align:center;
    
}
.gridcell-content{
    /*border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius:25px !important;
    padding-left:10px;*/
}
.gridcell-edit
{   
    width:50px;  
     text-align:center;  

         /*border-left: 0px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius:5px;*/
}

/*.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td
{
 border-top: 0px solid #ddd !important;
}*/

