/*==========commond=============*/

body
{
/*？？！！*/
    /*background-color: #e5e5e5 !important;*/
}

.cc-command-full
{
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 3px;
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.96);
    height: 42px;
}

.cc-command-button
{
}

.btn-command-search-dropdown
{
    margin-top: -10px !important;
}





@media (max-width: 767px)
{
    .cc-command
    {
        margin-top: -2px;
        padding-top: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        height: 40px;
    }

    .cc-command-button
    {
        margin-bottom: -2px;
        height: 40px;
    }

    .cc-command-search-xs
    {
        height: 40px;
    }
}
/*==========info=============*/
.cc-info
{
    background-color: rgba(255, 255, 255, 0.96);
}

    .cc-info .row .col-lg-12 > div
    {
        padding-top: 30px;
        padding-bottom: 5px;
        font-size: 20px;
    }

/*平板电脑-横*/
@media (max-width: 1200px)
{
    .cc-info .row .col-lg-12 > div
    {
        padding-top: 40px !important;
    }
}
/*平板电脑-竖*/
@media (max-width: 992px)
{
    .cc-info .row .col-lg-12 > div
    {
        padding-top: 40px !important;
    }
}
/*手机-竖*/
@media (max-width: 767px)
{
    .cc-info .row .col-lg-12 > div
    {
        padding-top: 40px !important;
    }
}

/*==========content=============*/

.cc-content
{
}

/*==========footer=============*/

.cc-footer
{
}






.h2-title-main
{
    font-size: 20px !important;
    padding-top: 0px !important;
}

.h3-title-main
{
    padding-top: 15px !important;
    font-size: 16px !important;
}



.h3-content-main
{
    font-size: 18px !important;
/*？？！！*/
    height:40px;
    padding-top:10px;
}


.well0-main
{
    min-height: 20px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 19px;
    padding-bottom: -10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);*/
}

    .well0-main.bak-main
    {
        border: 1px solid red !important;
    }

.well1-main
{
    min-height: 20px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 19px;
    padding-bottom: -10px;
    margin-bottom: 15px;
    /*background-color: #f5f5f5;*/
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);*/
}

    .well1-main.bak-main
    {
        border: 1px solid red !important;
    }

.blockquote-main
{
    /*border: 1px solid red !important;*/
}

.row.div-workitem-item-title
{
    background-color: #e5e9ed;
    margin: 0px 0px 0px !important;
}

.div-right-main
{
    text-align: right;
    width: 100%;
}


.a-size-large-main
{
    font-size: 20px;
}

.a-size-middle-main
{
    font-size: 16px;
}

.a-size-small-main
{
    font-size: 14px;
}


.fontsize-large-main
{
    font-size: 20px;
}

.fontsize-middle-main
{
    font-size: 16px;
}

.fontsize-small-main
{
    font-size: 14px;
}

.noborder-main
{
    border: 0px solid red !important;
}

.td-width60-main
{
    width: 60px;
}

.td-left-main
{
    text-align: left;
    font-size: 20px !important;
    font-weight: bold;
}

.div-content-main
{
}


.div-workitemMenu
{
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: white;
}

/*======btnC=======*/

.btnC
{
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
}

    .btnC.btn-circle,
    .btnC.btn-circle.disabled
    {
        padding: 2px 5px;
        box-shadow: none;
        border: none;
        background: transparent;
        color: #3a5a7a;
        font-weight: 300;
        transition: none;
    }

        .btnC.btn-circle:hover,
        .btnC.btn-circle:active,
        .btnC.btn-circle.active
        {
            box-shadow: none;
            background: transparent;
        }

        .btnC.btn-circle > i
        {
            color: #a5b6c7;
            background: #e5e9ed;
            width: 60px;
            height: 60px;
            padding: 18px 0;
            font-size: 24px;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
            margin-bottom: 6px;
            line-height: normal;
            transition: all .3s ease-in-out 0s;
        }

        .btnC.btn-circle.btn-large > i
        {
            width: 80px;
            height: 80px;
            padding: 22px 0;
            font-size: 36px;
        }

        .btnC.btn-circle.btn-small > i
        {
            width: 40px;
            height: 40px;
            padding: 10px 0;
            font-size: 20px;
        }

        .btnC.btn-circle.btn-mini > i
        {
            width: 30px;
            height: 30px;
            padding: 8px 0;
            font-size: 14px;
        }

        .btnC.btn-circle b.badge
        {
            position: absolute;
            right: 5px;
            top: 2px;
        }

        .btnC.btn-circle .badge i
        {
            margin: 0 -5px;
        }

        .btnC.btn-circle.disabled > i
        {
            background: #c4c9cf;
        }

    /*==================color1==================*/

    .btnC.btn-color1.btn-circle > i
    {
        color: #ffffff;
        background-color: #5191d1;
    }

    .btnC.btn-color1.btn-circle > .badge.bg-color1
    {
        color: #ffffff;
        background-color: #e62828;
    }

    .btnC.btn-color1.btn-circle:hover > i
    {
        border: solid 1px #a5b6c7;
    }


    .btnC.btn-color1.btn-circle.unchecked > i
    {
        color: #a5b6c7;
        background-color: #e5e9ed;
        border: solid 1px #a5b6c7;
    }

    .btnC.btn-color1.btn-circle.unchecked > .badge.bg-color1
    {
        color: #a5b6c7;
        background-color: #e5e9ed;
        border: solid 1px #a5b6c7;
    }

.table-filters tbody tr td.color1
{
    background: #5191d1;
}

.timeline-icon-color1
{
    color: #ffffff;
    background-color: #5191d1;
}



/*==================color2==================*/
.btnC.btn-color2.btn-circle > i
{
    color: #ffffff;
    background-color: #13c4a5;
}

.btnC.btn-color2.btn-circle > .badge.bg-color2
{
    color: #ffffff;
    background-color: #e62828;
}

.btnC.btn-color2.btn-circle:hover > i
{
    border: solid 1px #a5b6c7;
}

.btnC.btn-color2.btn-circle.unchecked > i
{
    color: #a5b6c7;
    background-color: #e5e9ed;
    border: solid 1px #a5b6c7;
}

.btnC.btn-color2.btn-circle.unchecked > .badge.bg-color2
{
    color: #a5b6c7;
    background-color: #e5e9ed;
    border: solid 1px #a5b6c7;
}

.table-filters tbody tr td.color2
{
    background: #13c4a5;
}

.timeline-icon-color2
{
    color: #ffffff;
    background-color: #13c4a5;
}

/*==================color3==================*/
.btnC.btn-color3.btn-circle > i
{
    color: #ffffff;
    background-color: #f4c414;
}

.btnC.btn-color3.btn-circle > .badge.bg-color3
{
    color: #ffffff;
    background-color: #e62828;
}

.btnC.btn-color3.btn-circle:hover > i
{
    border: solid 1px #a5b6c7;
}

.btnC.btn-color3.btn-circle.unchecked > i
{
    color: #a5b6c7;
    background-color: #e5e9ed;
    border: solid 1px #a5b6c7;
}

.btnC.btn-color3.btn-circle.unchecked > .badge.bg-color3
{
    color: #a5b6c7;
    background-color: #e5e9ed;
    border: solid 1px #a5b6c7;
}

.table-filters tbody tr td.color3
{
    background: #f4c414;
}

.timeline-icon-color3
{
    color: #ffffff;
    background-color: #f4c414;
}

/*==================color4==================*/
.btnC.btn-color4.btn-circle > i
{
    color: #ffffff;
    background-color: #233445;
}

.btnC.btn-color4.btn-circle > .badge.bg-color4
{
    color: #ffffff;
    background-color: #e62828;
}

.btnC.btn-color4.btn-circle:hover > i
{
    border: solid 1px #a5b6c7;
}

.btnC.btn-color4.btn-circle.unchecked > i
{
    color: #a5b6c7;
    background-color: #e5e9ed;
    border: solid 1px #a5b6c7;
}

.btnC.btn-color4.btn-circle.unchecked > .badge.bg-color4
{
    color: #a5b6c7;
    background-color: #e5e9ed;
    border: solid 1px #a5b6c7;
}

.table-filters tbody tr td.color4
{
    background: #233445;
}

.timeline-icon-color4
{
    color: #ffffff;
    background-color: #233445;
}



/*==================color5==================*/
.btnC.btn-color5.btn-circle > i
{
    color: #ffffff;
    background-color: #3fcf7f;
}

.btnC.btn-color5.btn-circle > .badge.bg-color5
{
    color: #ffffff;
    background-color: #e62828;
}

.btnC.btn-color5.btn-circle:hover > i
{
    border: solid 1px #a5b6c7;
}

.btnC.btn-color5.btn-circle.unchecked > i
{
    color: #a5b6c7;
    background-color: #e5e9ed;
    border: solid 1px #a5b6c7;
}

.btnC.btn-color5.btn-circle.unchecked > .badge.bg-color5
{
    color: #a5b6c7;
    background-color: #e5e9ed;
    border: solid 1px #a5b6c7;
}

.table-filters tbody tr td.color5
{
    background: #3fcf7f;
}

.timeline-icon-color5
{
    color: #ffffff;
    background-color: #3fcf7f;
}

/*==================color6==================*/
.btnC.btn-color6.btn-circle > i
{
    color: #ffffff;
    background-color: #ff5f5f;
}

.btnC.btn-color6.btn-circle > .badge.bg-color6
{
    color: #ffffff;
    background-color: #e62828;
}

.btnC.btn-color6.btn-circle:hover > i
{
    border: solid 1px #a5b6c7;
}

.btnC.btn-color6.btn-circle.unchecked > i
{
    color: #a5b6c7;
    background-color: #e5e9ed;
    border: solid 1px #a5b6c7;
}

.btnC.btn-color6.btn-circle.unchecked > .badge.bg-color6
{
    color: #a5b6c7;
    background-color: #e5e9ed;
    border: solid 1px #a5b6c7;
}

.table-filters tbody tr td.color6
{
    background: #ff5f5f;
}

.timeline-icon-color6
{
    color: #ffffff;
    background-color: #ff5f5f;
}
/*==================color7==================*/
.btnC.btn-color7.btn-circle > i
{
    color: #ffffff;
    background-color: #00c7f7;
}

.btnC.btn-color7.btn-circle > .badge.bg-color7
{
    color: #ffffff;
    background-color: #e62828;
}

.btnC.btn-color7.btn-circle:hover > i
{
    border: solid 1px #a5b6c7;
}

.btnC.btn-color7.btn-circle.unchecked > i
{
    color: #a5b6c7;
    background-color: #e5e9ed;
    border: solid 1px #a5b6c7;
}

.btnC.btn-color7.btn-circle.unchecked > .badge.bg-color7
{
    color: #a5b6c7;
    background-color: #e5e9ed;
    border: solid 1px #a5b6c7;
}

.table-filters tbody tr td.color7
{
    background: #00c7f7;
}

.timeline-icon-color7
{
    color: #ffffff;
    background-color: #00c7f7;
}
/*==================color8==================*/
.btnC.btn-color8.btn-circle > i
{
    color: #ffffff;
    background-color: #335397;
}

.btnC.btn-color8.btn-circle > .badge.bg-color8
{
    color: #ffffff;
    background-color: #e62828;
}

.btnC.btn-color8.btn-circle:hover > i
{
    border: solid 1px #a5b6c7;
}

.btnC.btn-color8.btn-circle.unchecked > i
{
    color: #a5b6c7;
    background-color: #e5e9ed;
    border: solid 1px #a5b6c7;
}

.btnC.btn-color8.btn-circle.unchecked > .badge.bg-color8
{
    color: #a5b6c7;
    background-color: #e5e9ed;
    border: solid 1px #a5b6c7;
}

.table-filters tbody tr td.color8
{
    background: #335397;
}

.timeline-icon-color8
{
    color: #ffffff;
    background-color: #335397;
}
/*==================color9==================*/
.btnC.btn-color9.btn-circle > i
{
    color: #ffffff;
    background-color: #13c4a5;
}

.btnC.btn-color9.btn-circle > .badge.bg-color9
{
    color: #ffffff;
    background-color: #e62828;
}

.btnC.btn-color9.btn-circle:hover > i
{
    border: solid 1px #a5b6c7;
}

.btnC.btn-color9.btn-circle.unchecked > i
{
    color: #a5b6c7;
    background-color: #e5e9ed;
    border: solid 1px #a5b6c7;
}

.btnC.btn-color9.btn-circle.unchecked > .badge.bg-color9
{
    color: #a5b6c7;
    background-color: #e5e9ed;
    border: solid 1px #a5b6c7;
}

.table-filters tbody tr td.color9
{
    background: #dd4a38;
}

.timeline-icon-color9
{
    color: #ffffff;
    background-color: #dd4a38;
}
/*==================color10==================*/
.btnC.btn-color10.btn-circle > i
{
    color: #ffffff;
    background-color: #a5b6c7;
}

.btnC.btn-color10.btn-circle > .badge.bg-color10
{
    color: #ffffff;
    background-color: #e62828;
}

.btnC.btn-color10.btn-circle:hover > i
{
    border: solid 1px #a5b6c7;
}

.btnC.btn-color10.btn-circle.unchecked > i
{
    color: #a5b6c7;
    background-color: #e5e9ed;
    border: solid 1px #a5b6c7;
}

.btnC.btn-color10.btn-circle.unchecked > .badge.bg-color10
{
    color: #a5b6c7;
    background-color: #e5e9ed;
    border: solid 1px #a5b6c7;
}

.table-filters tbody tr td.color10
{
    background: #a5b6c7;
}

.timeline-icon-color10
{
    color: #ffffff;
    background-color: #a5b6c7;
}


/*e5e9ec*/
/*f5f6f7*/


/*================widget==================*/

.social-widget.color1
{
    color: #00b2f1;
}

.social-widget.color2
{
    color: #0af57d;
}

.social-widget.color3
{
    color: #e54c42;
}

.social-widget.color4
{
    color: #e5e9ec;
}

.social-widget.color5
{
    color: #f0ad4e;
}

.social-widget.color6
{
    color: #ea4c89;
}

/*================userinfo==================*/

.sp-theme
{
    border: solid 1px transparent;
}
.sp-themeSelected
{
    background-color: #e5e9ec;
}
.sp-theme.sp-themeSelected
{
    border: solid 1px #233445;
    
}



.i-logout
{
    cursor: pointer;
}

    .i-logout:hover
    {
        color: #e62828;
    }




.div-detailallmode
{
    cursor: pointer;
    display: inline-block;
    padding-left:2px;
    padding-right:2px;
}

    .div-detailallmode:hover
    {
        background-color: #e0e0e0;
    }

    .div-detailallmode.active
    {
        background-color: #e0e0e0;
        cursor: default !important;
        border:solid 1px #233445;
    }




.div-widgetconfig
{
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    min-height: 25px;
    border-radius: 5px;
}

    .div-widgetconfig > i
    {
        font-size: 20px;
    }



        .div-widgetconfig.disabled
    {
        color: #a5b6c7 !important;
        background-color: #e5e9ec !important;
        border: solid 1px #ccc !important;
    }

        .div-widgetconfig.disabled:hover
        {
            color: #a5b6c7 !important;
            background-color: #e5e9ec !important;
            border: solid 1px #ccc !important;
        }


    .div-widgetconfig.color1
    {
        color: #fff;
        background-color: #428bca;
        border: solid 1px #357ebd;
    }

        .div-widgetconfig.color1:hover
        {
            color: #fff;
            background-color: #3071a9;
            border: solid 1px #285e8e;
        }




    .div-widgetconfig.color2
    {
        border: solid 1px #4cae4c;
        background-color: #5cb85c;
        color: #fff;
    }

        .div-widgetconfig.color2:hover
        {
            border: solid 1px #398439;
            background-color: #5cb85c;
            color: #fff;
        }


    .div-widgetconfig.color3
    {
        border: solid 1px #d43f3a;
        background-color: #d9534f;
        color: #fff;
    }

        .div-widgetconfig.color3:hover
        {
            border: solid 1px #ac2925;
            background-color: #c9302c;
            color: #fff;
        }

    .div-widgetconfig.color4
    {
        color: #333;
        background-color: #fff;
        border: solid 1px #ccc;
    }

        .div-widgetconfig.color4:hover
        {
            color: #333;
            background-color: #fff;
            border: solid 1px #adadad;
        }



    .div-widgetconfig.color5
    {
        border: solid 1px #eea236;
        background-color: #f0ad4e;
        color: #fff;
    }

        .div-widgetconfig.color5:hover
        {
            border: solid 1px #d58512;
            background-color: #ec971f;
            color: #fff;
        }

    .div-widgetconfig.color6
    {
        border: solid 1px #46b8da;
        background-color: #5bc0de;
        color: #fff;
    }

        .div-widgetconfig.color6:hover
        {
            border: solid 1px #269abc;
            background-color: #31b0d5;
            color: #fff;
        }




.badge.b-checked
{
    display: none;
}

    .badge.b-checked.active
    {
        display: block;
        color: #ffffff;
        background-color: #e62828;
        position: absolute;
        left: 0px;
        top: -10px;
    }
