.div-commonselectuser
{
padding:0px !important;
}
.div-tab-commonselectuser
{
    
}
.div-content-commonselectuser
{
    padding-top:0px !important;
}
.div-content-item-commonselectuser
{
    background-color:#ffffff;border-bottom:solid 1px #dddddd;border-left:solid 1px #dddddd;border-right:solid 1px #dddddd;border-top:solid 0px #dddddd;
}